In [3]:
import torch
import torch.nn as nn

import matplotlib.pyplot as plt

import pandas as pd

torch.__version__  # Ensure PyTorch is available

'2.9.1+cu126'

In [4]:
device = "cuda" if torch.cuda.is_available() else "cpu"
print(f"Using device: {device}")

Using device: cuda

In [5]:
url = "https://raw.githubusercontent.com/LeakyAI/FirstNeuralNet/main/lemons.csv"
df = pd.read_csv(url)

In [6]:
df.head()

   Weekend  Sunny  Warm  BigSign  Price  NumberSold
0        1      0     0        1      9          71
1        1      1     1        0     10         137
2        0      1     0        0     10           0
3        1      0     0        1      6         107
4        1      0     0        1      8          80

In [7]:
df.shape

(365, 6)